@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: aliceblue;
    border-radius: 15px;
  
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  
  h1 {
    font-size: 2.7em;
    line-height: 1;
  }
  
  button {
    font-size: 1em;
    font-weight: 500;
    font-family: Itim;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  /* button:hover {
   
  } */
  