.about-container {
  color: white;
  background-color: black;

}

.solarsys {
  position: absolute;
  right: 0;
  top: 20%;
  user-select: none;
  -webkit-user-drag: none;
}

h1 {
  margin-bottom: 5vw;
  margin-top: 10vw;
  text-align: left;
  margin-left: 7vw;
}

p {
  margin-left: 7vw;
  font-size: 22px;
  width: 39%;
}

#about-par {
  width: 39%;
}

#our-team {
  margin-bottom: 7rem;
}
  
.team-container {
  height: 90vh;
  width: 80vw;
  /* background-color: red; */
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 14%;
}
  
.team-member {
  width: 20vw;
  height: 42vh;
  background-color: rgb(190, 190, 190);
  margin: 10px;
  color: black;
  font-size: 1.2rem;
  border-radius: 10%;
  position: relative;
}

.photo {
  height: 100%;
  width: 100%; 
  background-color: red;
  border-radius: 1.7rem;
}

.more-desc {
  font-size: 1.2vw;
  position: absolute;
  bottom: 1vw;
  left: 1vw;
  opacity: 0;
  transition: all ease 0.2s;
}

.photo img {
  height: auto;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 1.7rem;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.desc {
  height: 0%;
  width: 20%;
  font-size: 8px;
  background-color: rgb(190, 190, 190);
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px black solid;
  visibility: hidden;
  opacity: 0;
  border-radius: 1.7rem;
  transition: all ease 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc p {
  font-size: 1.2vw;
  margin-right: 100px;
}

.photo:hover .more-desc {
  opacity: 1;
  transition: all ease 0.2s;
}

.photo:hover .desc {
  position: absolute;
  bottom: 0;
  opacity: 1;
  height: 100%;
  transition: all ease 0.5s;
  visibility: visible; 
}

.description {
  text-align: center;
  vertical-align: middle;
}

.upper {
  height: 50%;
  /* background-color: yellow; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.lower {
  margin-top: 3vh;
  gap: 1vw;
  height: 50%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}
